.navbar {
    background-color: black;
    color: white;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}